html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
#mapViewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 80%;
    float: right;
/*    position: absolute;*/
}
#container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#gameStatsDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
/*    position: absolute;*/
    pointer-events:none;
}
#examplePopup {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 20%;
/*    position: absolute;*/
    pointer-events:auto;
    float: left;
}
